
<body>
    <app-main-header></app-main-header>
      <div class="p-1" style="background-color: #ffffff">
              
        <div class="contenent">
  
          <div class="row d-flex justify-content-center mt-4">
            <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title style="font-size: 12px;">Shiba Inu</mat-card-title>
                      <mat-card-subtitle style="font-size: 13px;">Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
            </div>
  
            <div class="col-sm-12 col-md-6 col-lg-3 mt-2">        
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title style="font-size: 12px;">Shiba Inu</mat-card-title>
                      <mat-card-subtitle style="font-size: 13px;">Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title style="font-size: 12px;">Shiba Inu</mat-card-title>
                      <mat-card-subtitle style="font-size: 13px;">Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title style="font-size: 12px;">Shiba Inu</mat-card-title>
                      <mat-card-subtitle style="font-size: 13px;">Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
            </div>
          </div>

    <div class="row mt-5">
        <div class="col-12">
            <h1 style="display: inline-block;border-bottom: 4px solid #9eff03;margin-bottom: 10px;">About us</h1>
        </div>

        <div class="col-12 col-sm-12 col-lg-5 d-flex justify-content-center" style="align-items: center;">
            <img src="../../../assets/img/Aspiradora.jpg" class="img-edit" alt="" width="100%">
        </div>
        <div class="col-12 col-sm-12 col-lg-7 p-4" style="font-size: 14px; letter-spacing: 1px;line-height: 30px;">
            <p><b>Service MCM LLC</b> offer you more free time, a custom cleaning plan to fit your needs, flexible scheduling and peace of mind knowing you have hired a legitimate company.
                We understand your management needs and the limited time frame that you may have to perform turn overs cleaning. With over 6 years offering this service in the DMV area with the best quality  
                For your convenience, we offer flexible scheduling of service:</p>
            
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li>Regular Maintenance</li>
                        <li>Occasional/Periodic </li>
                        <li>One Time</li>
                        <li>Turn Overs and much more... </li>     
                    </ul>
                    <a class="text-btn">Leer mas</a>
                </div>
    
                <div class="col-6">
                    <img src="../../../assets/logo.png" class="img-movimiento" alt="" width="90%">
                </div>
            </div>

        </div>
    </div>

</div>

<img src="../../../assets/img/faaa.png" alt="" width="100%" style="margin: 10px 0;">

<div class="contenent">

    <div class="row mt-5">
        
        <div class="col-12">
            <h1 style="display: inline-block;border-bottom: 4px solid #9eff03;margin-bottom: 20px;">Mejores categorias</h1>
        </div>
    </div>

    <app-add-slider></app-add-slider>
  
        <div class="row mt-2">
        
            <div class="col-12">
                <h1 style="display: inline-block;border-bottom: 4px solid #9eff03;margin-bottom: 20px;">Antes y despues de nuestros servicios</h1>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 col-md-4">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, ipsa eius est nam rem, optio dolore iure tempora placeat sint error. Officia laudantium porro hic architecto illum nihil aperiam incidunt.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, laboriosam. Libero minus pariatur tempore quod maxime ipsa aperiam dicta iusto officiis, veritatis totam harum ducimus molestiae exercitationem sequi, eligendi laudantium.
                </p>
                <p class="text-center"><img src="../../../assets/logo.png" alt="" width="70%"></p>
                
            </div>

            <div class="col-12 col-md-8">
                <app-add-comparative></app-add-comparative>
            </div>
        </div>
      </div>

      <div class="contenent">
        <div class="row mt-2">
        
            <div class="col-12">
                <h1 style="display: inline-block;border-bottom: 4px solid #9eff03;margin-bottom: 20px;">Antes y despues de nuestros servicios</h1>
            </div>
            <div class="col-12">
                <app-add-info></app-add-info>
            </div>
        </div>
        
      </div>



      <section class="gallery mt-4">
        <img
            src="../../../assets/img/Capert Services.jpeg"
            alt="Gallery Img1"
            class="gallery-img-1"
        /><img
            src="../../../assets/img/Commercial Book Online.jpg"
            alt="Gallery Img2"
            class="gallery-img-2"
        /><img
            src="../../../assets/img/Residential Book Online.jpg"
            alt="Gallery Img3"
            class="gallery-img-3"
        />
        
        <img
            src="../../../assets/img/Commercial Book Online.jpg"
            alt="Gallery Img4"
            class="gallery-img-4"
        /><img
            src="../../../assets/img/Capert Services.jpeg"
            alt="Gallery Img5"
            class="gallery-img-5"
        />
    </section>


    <div class="contenent">

        <div class="row mt-5">
        
            <div class="col-12">
                <h1 class="text-center" style="font-weight: 500px;letter-spacing: -1px;font-size: 28px;">Mejores productos</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">

                <div class="card-product">
                    <div class="container-img">
                        <img src="../../../assets/img/cafe-irish.jpg" alt="Cafe Irish" />
                        <span class="discount">-13%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa fa-eye"></i>
                            </span>
                            <span>
                                <i class="fa fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa fa-code-branch"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h3>Cafe Irish</h3>
                        <span class="add-cart">
                            <i class="fa fa-shopping-basket"></i>
                        </span>
                        <p class="price">$4.60 <span>$5.30</span></p>
                    </div>
                </div>
            </div>

            
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">

                <div class="card-product">
                    <div class="container-img">
                        <img src="../../../assets/img/cafe-irish.jpg" alt="Cafe Irish" />
                        <span class="discount">-13%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa fa-eye"></i>
                            </span>
                            <span>
                                <i class="fa fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa fa-code-branch"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h3>Cafe Irish</h3>
                        <span class="add-cart">
                            <i class="fa fa-shopping-basket"></i>
                        </span>
                        <p class="price">$4.60 <span>$5.30</span></p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-3">

                <div class="card-product">
                    <div class="container-img">
                        <img src="../../../assets/img/cafe-irish.jpg" alt="Cafe Irish" />
                        <span class="discount">-13%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa fa-eye"></i>
                            </span>
                            <span>
                                <i class="fa fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa fa-code-branch"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h3>Cafe Irish</h3>
                        <span class="add-cart">
                            <i class="fa fa-shopping-basket"></i>
                        </span>
                        <p class="price">$4.60 <span>$5.30</span></p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-3">

                <div class="card-product">
                    <div class="container-img">
                        <img src="../../../assets/img/cafe-irish.jpg" alt="Cafe Irish" />
                        <span class="discount">-13%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa fa-eye"></i>
                            </span>
                            <span>
                                <i class="fa fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa fa-code-branch"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h3>Cafe Irish</h3>
                        <span class="add-cart">
                            <i class="fa fa-shopping-basket"></i>
                        </span>
                        <p class="price">$4.60 <span>$5.30</span></p>
                    </div>
                </div>
            </div>


         </div>


         <div class="row mt-5">
        
            <div class="col-12">
                <h1 class="text-center" style="font-weight: 500px;letter-spacing: -1px;font-size: 28px;">Ultimos servicios</h1>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4">
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../../../assets/img/blog-1.jpg" alt="Imagen Blog 1" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa fa-search"></i>
                            </span>
                            <span>
                                <i class="fa fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Lorem, ipsum dolor sit</h3>
                        <span>29 Noviembre 2022</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, molestiae! Ratione et, dolore ipsum
                            quaerat iure illum reprehenderit non maxime amet dolor
                            voluptas facilis corporis, consequatur eius est sunt
                            suscipit?
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../../../assets/img/blog-1.jpg" alt="Imagen Blog 1" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa fa-search"></i>
                            </span>
                            <span>
                                <i class="fa fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Lorem, ipsum dolor sit</h3>
                        <span>29 Noviembre 2022</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, molestiae! Ratione et, dolore ipsum
                            quaerat iure illum reprehenderit non maxime amet dolor
                            voluptas facilis corporis, consequatur eius est sunt
                            suscipit?
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../../../assets/img/blog-1.jpg" alt="Imagen Blog 1" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa fa-search"></i>
                            </span>
                            <span>
                                <i class="fa fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Lorem, ipsum dolor sit</h3>
                        <span>29 Noviembre 2022</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, molestiae! Ratione et, dolore ipsum
                            quaerat iure illum reprehenderit non maxime amet dolor
                            voluptas facilis corporis, consequatur eius est sunt
                            suscipit?
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
            </div>

         </div>


    </div>

  
      </div>
      <app-add-footer></app-add-footer>
  </body>

  

